<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Template 2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="mobile.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div class="container">

            <div class="empty-container">
                
            </div>

            <div class="text-container">
                <div class="title">
                    Infinite Horizons
                </div>
                <div class="subtitle">
                    Embark on an Unforgettable Journey of Exploration, Imagination, and Limitless Possibilities
                </div>
                <button class="button" onclick="window.location.href='#';">
                    <div class="button-text">
                        Explore
                    </div>
                    <div class="button-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"><path d="M686-450H160v-60h526L438-758l42-42 320 320-320 320-42-42 248-248Z"/></svg>
                    </div>
                </button>

            </div>

            

            <div class="image-container">
                <img src="Whangaehu.svg" class="container-image">
            </div>
        </div>

        <script src="" async defer></script>
    </body>
</html>