<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="container-text">
                <div class="title">
                    Cosmic Explorers
                </div>
                <div class="subtitle">
                    Venture into the vastness of space, where celestial wonders await. Discover distant galaxies, witness stellar phenomena, and ponder the mysteries of the universe. Prepare for an awe-inspiring odyssey beyond the boundaries of our world, fueling your curiosity and igniting a sense of cosmic wonder.
                </div>

                <button class="button" onclick="window.location.href='#';">
                    <div class="button-text">
                        Explore
                    </div>
                    <div class="button-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"><path d="M686-450H160v-60h526L438-758l42-42 320 320-320 320-42-42 248-248Z"/></svg>
                    </div>
                </button>
            </div>


            <!-- <div class="carousel">
                <div class="card">
                    <div class="card-title">

                    </div>
                    <div class="card-image">
                        <img class="image" src="">
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">

                    </div>
                    <div class="card-image">
                        <img class="image" src="">
                    </div>
                </div>

                <div class="card">
                    <div class="card-title">

                    </div>
                    <div class="card-image">
                        <img class="image" src="">
                    </div>
                </div>
            </div> -->
            

            <div class="carousel">
                <div class="carousel-inner">
                  <div class="card">
                    <div class="card-title">
                        Card 1
                    </div>
                    <div class="card-image">
                        <img class="image" src="Linth.png">
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-title">
                        Card 2
                    </div>
                    <div class="card-image">
                        <img class="image" src="Oreti.png">
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-title">
                        Card 3
                    </div>
                    <div class="card-image">
                        <img class="image" src="Rho╠éne.png">
                    </div>
                  </div>
                  <!-- Aggiungi altre card come necessario -->
                </div>
              </div>
              
        
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="script.js"></script>


    </body>
</html>