<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script defer="" src="https://use.fontawesome.com/releases/v6.0.0/js/all.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="card-grid">
                <div class="card">
                    <div class="card-image">
                        <img class="image" src="Rho╠éne.png">
                    </div>
                    <div class="card-title">Web Development</div>
                    <div class="card-text">Our expert web developers create stunning and user-friendly websites tailored to your brand's unique identity. </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img class="image" src="Linth.png">
                    </div>
                    <div class="card-title">Mobile Apps</div>
                    <div class="card-text">Unlock the potential of the mobile market with our custom-built applications.</div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img class="image" src="Oreti.png">
                    </div>
                    <div class="card-title">Artificial Intelligence</div>
                    <div class="card-text">Leverage the power of AI to gain valuable insights and streamline processes. </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img class="image" src="Taieri.png">
                    </div>
                    <div class="card-title">Digital Transformation</div>
                    <div class="card-text">Embrace the future with our comprehensive digital transformation services.</div>
                </div>
            </div>
            <div class="right-container">
                <div class="text-container">
                    <div class="title">Empowering Digital Solutions</div>
                    <div class="subtitle">
                        We are a leading technology company dedicated to providing innovative and cutting-edge solutions for businesses and individuals. Our team of skilled professionals specializes in web development, mobile apps, artificial intelligence, and more. With a focus on creativity and efficiency, we strive to transform ideas into reality, delivering exceptional digital experiences that drive success and growth.
                    </div>
                    <button class="button" onclick="window.location.href='#';">
                        <div class="button-text">
                            Explore
                        </div>
                        <div class="button-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="100%"><path d="M686-450H160v-60h526L438-758l42-42 320 320-320 320-42-42 248-248Z"/></svg>
                        </div>
                    </button>
                </div>
                

                <div class="social-container">
                    <div class="social">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="social">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="social">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                </div>
            </div>
            
        </div>
        
        <script src="" async defer></script>
    </body>
</html>