<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="mobile.css">
    </head>
    <body>
        <div class="container">
            <div class="item">
                <div class="item-image">
                    <img src="Clarence.png" class="image">
                    <div class="title">
                        EcoWander
                    </div>
                </div>
                <div class="item-text">
                    
                    <div class="subtitle">
                        Embrace sustainable travel and explore the world's natural wonders while leaving a positive impact on the environment.
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="Doubs.png" class="image">
                    <div class="title">
                        MindfulTech
                    </div>
                </div>
                <div class="item-text">
                    
                    <div class="subtitle">
                        Discover mindful technology solutions that promote well-being and balance in an increasingly digital world.
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="Kander.png" class="image">
                    <div class="title">
                        Artisan Flavors
                    </div>
                </div>
                <div class="item-text">
                    
                    <div class="subtitle">
                        Indulge in the art of taste with handcrafted delicacies that celebrate local traditions and culinary expertise.
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="Mohaka.png" class="image">
                    <div class="title">
                        Adventure Unbound
                    </div>
                </div>
                <div class="item-text">
                    <div class="subtitle">
                        Unleash your adventurous spirit and embark on thrilling journeys to discover untamed landscapes and hidden treasures.
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="Ngaruroro.png" class="image">
                    <div class="title">
                        Wellness Oasis
                    </div>
                </div>
                <div class="item-text">
                    
                    <div class="subtitle">
                        Find inner harmony and rejuvenation in exclusive wellness retreats that prioritize health and self-care.
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="Wairau.png" class="image">
                    <div class="title">
                        TechUp Rising
                    </div>
                </div>
                <div class="item-text">
                    
                    <div class="subtitle">
                        Experience the future with groundbreaking technologies that redefine possibilities and elevate human potential.
                    </div>
                </div>
            </div>

        </div>
          
        
        <script src="" async defer></script>
    </body>
</html>