<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="mobile.css">
    </head>
    <body>
        <div class="container">
            <div class="item">
                <div class="item-image">
                    <img src="Oreti.png" class="img" >
                </div>
                <div class="item-text">
                    <div class="title">Enchanted Journey</div>
                    <div class="subtitle">
                        Embark on a mesmerizing adventure through enchanted realms, where mythical creatures and ancient secrets intertwine. Unveil the magic hidden in every corner and let your imagination soar amidst captivating landscapes and extraordinary wonders.
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="Rangitikei.png" class="img" >
                </div>
                <div class="item-text">
                    <div class="title">Tech Unleashed</div>
                    <div class="subtitle">Unlock a universe of limitless possibilities as you delve into the cutting-edge world of technology. From awe-inspiring AI advancements to groundbreaking VR experiences, immerse yourself in the realm of innovation and embrace the future, one byte at a time.</div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="Waiau.png" class="img" >
                </div>
                <div class="item-text">
                    <div class="title">Global Gastronomy</div>
                    <div class="subtitle">Embark on a culinary odyssey that transcends borders and palates. Savor the diverse flavors of cultures near and far, crafted with love and tradition. Experience a gastronomic fusion that delights your taste buds and connects you with the world's rich culinary heritage.</div>
                </div>
            </div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>