/* Stili per dispositivi mobili con larghezza massima di 767px */
@media (max-width: 767px) {

    .container{
        display: block;
    }
    .title{
        font-size: 2rem;
        font-weight: 600;
        /* height: 6rem; */
    }
    
    .subtitle{
        margin-top: 10%;
        font-size: 1.1rem;
        font-weight: 400;
    }
    .item{
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
  
  /* Stili per dispositivi desktop con larghezza minima di 768px */
  @media (min-width: 768px) {

  }